<component name="libraryTable">
  <library name="mybatis-generator-core-1.3.2">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/src/main/resources/mybatis_gen/mybatis-generator-core-1.3.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/main/resources/mybatis_gen/mysql-connector-java-5.1.37.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>